<h2>Iniciar proyecto de Onboarding</h2>
<app-commonconsiderations></app-commonconsiderations>
<p>
	<b>Paso 1:</b> Clona el repositorio en tu entorno de desarrollo local:
</p>
<pre>
	<code class="language-markup">
git clone https://github.com/alejandromartincruz/classpip-onboarding.git
	</code>
</pre>
<p>
	<b>Paso 2:</b> Instala las dependencias del proyecto:
</p>
<pre>
	<code class="language-markup">
cd classpip-onboarding
npm install
	</code>
</pre>
<p>
	<b>Paso 3:</b> Inicia Classpip-onboarding (por defecto en <a href="http://localhost:4200/">http://localhost:4200</a>) con el siguiente comando:
</p>
<pre>
	<code class="language-markup">
ng serve --open
	</code>
</pre>