<button mat-button (click)="goBack()"><mat-icon>chevron_left</mat-icon> Volver</button>
<mat-tab-group (selectedTabChange)="tabSelectionChanged($event)">
  <mat-tab label="Introduccción">
    <ng-template matTabContent>
      <app-introduction></app-introduction>
    </ng-template>
  </mat-tab>
  <mat-tab label="Services">
    <ng-template matTabContent>
      <app-services></app-services>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mobile">
    <ng-template matTabContent>
      <app-mobile></app-mobile>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dashboard">
    <ng-template matTabContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </mat-tab>
</mat-tab-group>

