div {
	color: #3c4fbc;
	background-color: #f0f8ff;
	border: 1px solid #add8e6;
	margin-block-start: 1em;
    margin-block-end: 4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    text-align: justify;
    i {
    	color: #8a1683;
    }
}	