<mat-card class="home-card">
	<div class="row">
		<div class="col s12 l6 left">
			<div class="homecard-text">
				<h2>
					DESCUBRE CLASSPIP
				</h2>
				<h3>
					Experimenta con la gamificación en un entorno educativo.
				</h3>
			</div>
			
		</div>
		<div class="col s12 l6 right"><img mat-card-image class="docs-classpip-logo" src="../assets/img/classpip-icon.svg" alt="angular"></div>
	</div>
</mat-card>

<div class="parallax home-parallax">
	<div class="text-container">
		<h2 class="parallas-text">Deja que tus alumnos aprendan con ordenadores y moviles</h2>
	</div>
</div>

<div class="home-card">
	<img class="home-image" src="../assets/img/gamification.jpg">
</div>
<div class="home-card">
	<img class="home-image" src="../assets/img/gamification-working.jpg">
</div>

