<mat-list>
  <h2 mat-subheader>Proyectos realizados</h2>
  <a href="https://upcommons.upc.edu/handle/2117/101237" target="_blank">
  <mat-list-item >
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Arquitectura software</h4>
    <p mat-line class="project-author"> Ferran Vila </p>
  </mat-list-item>
  </a>

  <a href="https://upcommons.upc.edu/handle/2117/108143" target="_blank">
  <mat-list-item>
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Puntos e Insignias</h4>
    <p mat-line class="project-author"> Guillermo Riverola </p>
    <p mat-line class="project-description">PBL en una arquitectura de gamificación para un entorno docente</p>
  </mat-list-item>
  </a>

  <a href="https://upcommons.upc.edu/handle/2117/111094" target="_blank">
  <mat-list-item>
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Colecciones</h4>
    <p mat-line class="project-author"> Manuel Mendez </p>
    <p mat-line class="project-description">Gamificació d’entorns docents</p>
  </mat-list-item>
  </a>

  <a href="https://upcommons.upc.edu/handle/2117/114992" target="_blank">
  <mat-list-item>
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Preguntas</h4>
    <p mat-line class="project-author"> Daniel Viles </p>
    <p mat-line class="project-description">Plataforma de gamificació docent amb smartphones</p>
  </mat-list-item>
  </a>

  <a href="https://upcommons.upc.edu/handle/2117/119560" target="_blank">
  <mat-list-item>
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Competiciones</h4>
    <p mat-line class="project-author"> Maria del Mar Olmo </p>
    <p mat-line class="project-description">Generador de competiciones en una herramienta de gamificación</p>
  </mat-list-item>
  </a>

  <a href="https://upcommons.upc.edu/handle/2117/121556" target="_blank">
  <mat-list-item>
    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon>
    <h4 mat-line>Primera versión vendible</h4>
    <p mat-line class="project-author"> Anna García y Joan Valverde </p>
    <p mat-line class="project-description">Integració de diferents mòduls i posada a punt d’una eina de gamificació</p>
  </mat-list-item>
  </a>

</mat-list>