.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.docs-button {
  font-size: 18px;
}

.docs-classpip-logo {
  height: 40px;
  margin: 0 4px 3px 0;
}