.docs-footer {
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.docs-footer-links ul {
  list-style: none;
  margin: 0 0px 0 10px;
  padding: 0;
  li {
    float: left;
    padding-right: 16px;
    a {
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 884px) {
  .docs-footer-list {
    flex-direction: column;
  }
}